[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.vs/
*.vsidx


# OS files
.DS_Store
*.swp
WindowsMurder/Assets/Resources/Fonts/MainSegoeUI.asset
WindowsMurder/Assets/Resources/Fonts/meiryo SDF.asset
WindowsMurder/Assets/Resources/Fonts/siyuan Medium SDF.asset
WindowsMurder/Assets/Resources/Fonts/siyuan Medium1.asset
WindowsMurder/Assets/Resources/Fonts/siyuan Mediumbd.asset
